# AgreedPay Frontend Environment Variables (Stellar Testnet + Cavos)

# Cavos Account Abstraction (Google/Passkeys & Gasless Escrow)
VITE_CAVOS_APP_ID=agreedpay-testnet
VITE_CAVOS_APP_SALT=agreedpay-rwa-v1

# Stellar Network & Soroban RPC
VITE_STELLAR_NETWORK=TESTNET
VITE_STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
VITE_STELLAR_RPC_URL="https://soroban-testnet.stellar.org"

# Contratos oficiales desplegados en Testnet
VITE_ESCROW_CONTRACT_ID=CD6QQHMFJKOJYXNFIHSRWQTATG5AW22L6FHPFM76Y4Q2EUBFAOO563QR
VITE_USDC_CONTRACT_ID=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA
